@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  color: #333;
  background-color: lightgrey;
}

header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: lightgray;
}

.logo img {
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

/* Hero-sektion */
.hero {
  display: flex;
  align-items: center;
  background-color: black;
}

.hero-content {
  width: 50%;
  clip-path: polygon(0 0, 100% 0, 82% 100%, 0% 100%);
  background-color: lightgray;
  padding: 100px 20px;
}

.hero-image {
  text-align: left;
}

.hero-image img {
  max-width: 400px;
  border-radius: 15%;
  padding: 100px;
}

.social-icons {
  text-align: left;
  margin-top: 0;
}

.social-icons img {
  height: 30px;
  margin-right: 10px;
}

.knapper {
  text-align: left;
  margin-top: 0;
}

.linkedin-knap,
.github-knap,
.cv-knap {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  width: auto;
  /* Standard desktop bredde */
  margin-bottom: 0;
  /* Standard desktop margin */
}

.linkedin-knap:hover,
.github-knap:hover,
.cv-knap:hover {
  background-color: #555;
}

.om-mig {
  text-align: center;
  padding: 50px 20px;
  max-width: 100%;
  justify-content: center;
  display: flex;
  font-size: 25px;
}

.om-mig-inner {
  flex-direction: column;
  display: flex;
  max-width: 700px;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.services {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  text-align: center;
  margin-top: -20px;
}

.service {
  max-width: 300px;
}

.evner {
  text-align: center;
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
  flex-direction: column;
  align-items: center;
}

.evner-sub {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
}

.evner-item {
  width: 25%;
}

.evner-item img {
  height: 50px;
  width: 50px;
}

.evner-block {
  background-color: lightgray;
  height: 100px;
  width: calc(25% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-sizing: border-box;
}

.evne {
  background-color: #f4f4f4;
}

/* Erfaring */
.erfaring {
  text-align: center;
  padding: 50px 20px;
  justify-content: center;
  display: flex;
}

.overskrift-center {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 20px 20px;
  margin-bottom: 50px;
}

.erfaring-liste {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.erfaring-emne {
  background-color: #f4f4f4;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Læring */
.laering {
  text-align: center;
  padding: 50px 20px;
}

.laering-liste {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.laering-emne {
  background-color: #f4f4f4;
  padding: 10px 20px;
  border-radius: 5px;
}

.laering-sub {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
}

.laering-item {
  width: 25%;
}

.laering-item img {
  height: 50px;
  width: 50px;
}

/* Sprog */
.sprog {
  text-align: center;
  padding: 50px 20px;
}

.sprog-liste {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sprog-emne {
  background-color: #f4f4f4;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
}

.sprog-sub {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
}

.sprog-item {
  width: 25%;
}

.sprog-item img {
  height: auto;
  width: 60px;
}

.portfolio {
  text-align: center;
  padding: 50px 20px;
}

.portfolio_boxes {
  width: var(--width-12col);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.category_content_box_one {
  width: 30%;
  height: 180px;
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-left: 200px;
  margin-top: 30px;
  max-width: 100%;
}

.category_content_box_two {
  width: 15%;
  height: 240px;
  grid-row: 1;
  grid-column: 2;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  margin-left: 40px;
  max-width: 100%;
}

.category_content_box_three {
  width: 50%;
  height: 180px;
  grid-row: 2;
  grid-column: 1;
  background-color: var(--background-color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  margin-left: 140px;
  max-width: 100%;
}

.category_content_box_four {
  grid-row: 2;
  grid-column: 2;
  background-color: var(--background-color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.category_content_box_four img {
  max-width: 60%;
  max-height: 380px;
  margin-top: 50px;
  margin-right: 120px;
  max-width: 100%;
}
.video_container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.category_content_box_five {
  background-color: var(--background-color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  max-width: 100%;
}

.category_content_box_five iframe {
  width: 500px;
  height: 300px;
  margin-top: -30px;
  max-width: 100%;
}

.category_content_box_six {
    width: 100%;
    height: 100%;
  background-color: var(--background-color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  max-width: 100%;  
}

.category_content_box_six iframe {
  width: 500px;
  height: 300px;
  margin-top: -30px;
  max-width: 100%;
}

.category_content_box_img {
  max-width: 80%;
  max-height: 80%;
  max-width: 100%;
}

.kontakt-sektion {
    background-color: lightgray;
    width: 100%;
    height: 100vh;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kontakt-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  width: 100%;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #333;
  display: inline-block;
}

.beskrivelse {
  color: #777;
  margin-bottom: 30px;
}

.kontakt-formular {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-gruppe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 5px;
  padding-left: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
  font-size: 1em;
}

textarea {
  resize: vertical;
}

.besked-gruppe label {
  margin-top: 15px;
}

.send-knap {
  background-color: #333;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-knap:hover {
  background-color: #555;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

/* Media Queries for Responsivt Design */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .hero-content {
    width: 100%;
    clip-path: none;
    padding: 0;
    text-align: center;
  }

  .hero-image {
    text-align: center;
  }

  .hero-image img {
    max-width: 80%;
    height: 350px;
    padding: 40px;
  }

  .social-icons {
    text-align: center;
    margin-top: 20px;
  }

  .knapper {
    text-align: center;
    margin-top: 20px;
  }

  .linkedin-knap,
  .github-knap,
  .cv-knap {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 15px 20px;
  }

  .om-mig {
    padding: 40px 20px;
    font-size: 20px;
  }

  .om-mig-inner {
    font-size: 20px;
  }

  .services {
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
  }

  .service {
    max-width: 80%;
    margin-bottom: 30px;
  }

  .evner {
    padding: 40px 20px;
  }

  .evner-sub {
    width: 100%;
  }

  .evner-item {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
  }

  .evner-item img {
    height: 40px;
    width: 40px;
  }

  .evner-block {
    height: auto;
    width: calc(50% - 20px);
    padding: 10px;
    flex-direction: column;
  }

  .erfaring {
    padding: 40px 20px;
  }

  .overskrift-center {
    padding: 20px;
    margin-bottom: 30px;
  }

  .erfaring-liste {
    flex-direction: column;
    align-items: center;
  }

  .erfaring-emne {
    padding: 15px 20px;
    margin-bottom: 10px;
    width: 80%;
    box-sizing: border-box;
  }

  .laering {
    padding: 40px 20px;
  }

  .laering-liste {
    flex-direction: column;
    align-items: center;
  }

  .laering-emne {
    padding: 15px 20px;
    margin-bottom: 10px;
    width: 80%;
    box-sizing: border-box;
  }

  .laering-sub {
    width: 100%;
  }

  .laering-item {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
  }

  .laering-item img {
    height: 40px;
    width: 40px;
  }

  /* Sprog Sektion - Responsiv */
  .sprog {
    padding: 40px 20px;
  }

  .sprog-liste {
    flex-direction: column;
    align-items: center;
  }

  .sprog-emne {
    padding: 15px 20px;
    margin: 10px 0;
    width: 80%;
    box-sizing: border-box;
  }

  .sprog-sub {
    width: 100%;
  }

  .sprog-item {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
  }

  .sprog-item img {
    height: auto;
    width: 60px;
  }

  /* Portfolio Sektion - Responsiv */
  .portfolio {
    padding: 50px 10px;
  }

  .portfolio_boxes {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .category_content_box_one,
  .category_content_box_two,
  .category_content_box_three,
  .category_content_box_four,
  .category_content_box_five,
  .category_content_box_six {
    display: block;
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    float: none;
    text-align: center;
    min-height: 100px;
    box-sizing: border-box;
    border: 1px solid lightgray;
  }

  .category_content_box_one img,
  .category_content_box_two img,
  .category_content_box_three img,
  .category_content_box_img {
    max-width: 95%;
    height: auto;
    max-height: 175px;
    /* Juster max-højde efter behov */
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
  }

  .category_content_box_four img {
    max-width: 95%;
    height: auto;
    max-height: 250px;
    /* Juster max-højde efter behov */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .category_content_box_five iframe, 
  .category_content_box_six iframe {
    display: block;
    max-width: 100%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .kontakt-sektion {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .kontakt-container {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 100%;
  }

  h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #333;
    display: inline-block;
  }

  .beskrivelse {
    color: #777;
    margin-bottom: 30px;
  }

  .kontakt-formular {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form-gruppe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  label {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    font-size: 1em;
  }

  textarea {
    resize: vertical;
  }

  .besked-gruppe label {
    margin-top: 15px;
  }

  .send-knap {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .send-knap:hover {
    background-color: #555;
  }

  /* Footer */
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 25px;
  }
}